.popover-menu a {
    text-decoration: none;
    padding: .7em 1.5em;
    border-radius: .25em;
    color: black;
}

.popover-menu a:hover {
    background: #eee;
}


.popover-menu:popover-open {
    display: grid;
}

.popover-menu {
    width: max-content;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: .5em;
    background: white;
    position: absolute;
    position-anchor: menu-button;
    top: anchor(bottom);
    left: anchor(left);
}

button {
    width: 7em;
    padding: .7em 1.5em;
    border: none;
    border-radius: .3em;
    font: inherit;
    font-weight: 500;
    color: white;
    cursor: pointer;
    anchor-name: --menu-button;
}

#status-button {
    anchor-name: --status-anchor;
}

#status-menu {
    position-anchor: --status-anchor;
    top: anchor(bottom);
    left: anchor(left);
}

#priority-button {
    anchor-name: --priority-anchor;
}

#priority-menu {
    position-anchor: --priority-anchor;
    top: anchor(bottom);
    left: anchor(left);
}